<div class="shorten-container">
  <div class="child">
    <h1 class="title-label" color="accent">Lekker.Kort:</h1>
    
    <mat-form-field appearance="fill" class="shorten-input" color="accent" >
      <mat-label>URL to shorten</mat-label>
      <input matInput #inputUrl />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" class="shorten-button" (click)="getShortUrl(inputUrl.value)">Shorten</button>
    
    <p class="shortened-url" aria-live="polite"><strong>{{ shortenedUrl }}</strong></p>
  </div>
</div>